/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: "Komika Axis Regular", Arial, sans-serif;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

.day {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(255, 0, 0);
    font-size: 30px;
    height:45px;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: black;
}

.container {
    width: 250px; /* Set the width of the container */
    height: 918px; /* Set the height of the container */
    overflow: hidden;
    position: relative;
}

.viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 14px; /* Set your desired font size */
    margin-bottom: 0px; /* Adjust as needed */
    margin-top: 0px; /* Adjust as needed */
    color: rgb(255, 255, 255);
    white-space: nowrap; /* Prevent line breaks */
    
    height: 23px;
}

/* Hide scrollbar for the viewport (optional) */
.viewport::-webkit-scrollbar {
    width: 0;
}

.scrollable {
    animation: scroll 20s linear infinite alternate; /* Adjust scroll duration as needed */
    animation-timing-function: linear;
    animation-play-state: running;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}